<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{url_for ('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/jpeg">

    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <link rel="icon" href="images/icon.png"> -->
    <title>Zenith</title>
</head>

<body>
    <div class="mobile">
        <div class="mobile_heading"><p>ZENITH@AI</p></div>
        <div class="mobile_screen">
            <button class="wallpaper_button options">Wallpaper</button>
            <button class="chat_button options">chat</button>
            <div class="wall_options">
                <div class="wall1 walls">Wallpaper1</div>
                <div class="wall2 walls">Wallpaper2</div>
                <div class="wall3 walls">Wallpaper3</div>
                <div class="wall3 walls">Wallpaper4</div>
                <div class="wall3 walls">Wallpaper5</div>
                <div class="wall3 walls">Wallpaper6</div>
            </div>
            <!-- <div class="user text_box">Hey I am user</div>
            <div class="AI text_box">Hey I am AI</div> -->
           
        </div>
        <div class="mobile_buttons">
            <input type="text" class="text_area" placeholder="Type your text">
            <button class="voice">🎙️</button>
            <button class="send exchange">➡️</button>
            <button class="stop exchange">🚫</button>
        </div>
    </div>




    <!-- <script src="script.js"></script> -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>